

body {
    margin: 0;
    background: #eee;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    color: #eee;
    background-color:#1F2937;
    padding: 8px;
    
    
}
.logo {
    font-size: 20px;
    font-weight: 900;
    margin-left: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8em;
}

.content-leftside {
    margin-left: 160px;
    flex-direction: column;

}

.content-title-text {
    font-family: 'Courier New', Courier, monospace;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    width: 500px;
}

.content-main-text {
    font-family: 'Courier New', Courier, monospace;
    color: #f9faf8;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 400px;
}

.sign-up-content {
    font-family: 'Courier New', Courier, monospace;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-weight: bold;
    margin-right: auto;
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.content-rightside {
    background-color: grey;
    width: 500px;
}

.placeholder-image {
    color: #f9faf8;
    
}

a {
    text-decoration: none;
    color: #eee;
}

ul {
    display: flex;
    margin: 8px;
    padding: 8px;
    gap: 16px;
    font-size: 14px;
    margin-right: 250px;
    list-style-type: none;
}

.header-right-links, .left-logo {
    display: flex;
    align-items: center;
}

.content-leftside, .content-rightside {
    display: flex;
    align-items: center;
}

